{
    "plugins": ["transform-vue-jsx", "transform-runtime",
        [
            "import",
            {
                "libraryName": "ant-design-vue",
                "libraryDirectory": "lib",
                "style": "css"
            }
        ]
    ]
}